@charset "utf-8";
.page {
  max-width: 7.5rem;
  margin: 0 auto;
}
.flexSb {
  display: flex;
  justify-content: space-between;
}
.flexSa {
  display: flex;
  justify-content: space-around;
}
.headCon {
  height: .88rem;
}
.headCon em {
  position: relative;
}
.headCon em::before,
.headCon em::after {
  content: "";
  position: absolute;
  left: 0;
  top: -0.13rem;
  border-right: .15rem solid #fff;
  border-top: .15rem solid transparent;
  border-bottom: .15rem solid transparent;
}
.headCon .menuMore {
  display: flex;
  justify-content: space-between;
  width: .55rem;
}
.headCon .menuMore span {
  display: block;
  width: .12rem;
  height: .12rem;
  border-radius: 50%;
  background: #000;
}
.footMenu {
  width: calc(99%);
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ebebeb;
  background: #fff;
}
.footMenu ul {
  display: flex;
  justify-content: space-around;
  height: 1.2rem;
  align-items: center;
}
.footMenu ul li {
  text-align: center;
}
.footMenu ul li img {
  width: .55rem;
  height: .56rem;
}
.footMenu ul li p {
  font: 0.2rem/0.41rem "微软雅黑";
  color: #8c8c8c;
}
.pad {
  height: 1.2rem;
  background: #fff;
}
body {
  background: #f1f1f1;
}
.headCon {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: .4rem .23rem 0;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}
.headCon .logo img {
  width: auto;
  height: 0.29rem;
}
.headCon .search {
  width: 3.05rem;
  height: .39rem;
  text-align: center;
  background: #eeeeee;
  border-radius: .07rem;
  font: 0.18rem/0.39rem "微软雅黑";
}
.headCon .search::-webkit-input-placeholder {
  color: #b9b9b9;
}
.navbar {
  background: #fff;
  position: relative;
  overflow: hidden;
}
.navbar ul {
  width: 30rem;
  padding-top: .23rem;
  padding-left: .13rem;
}
.navbar ul li {
  float: left;
}
.navbar ul li a {
  display: block;
  font: 0.18rem/0.32rem "微软雅黑";
  color: #222222;
  border-bottom: 4px solid transparent;
  padding-bottom: .18rem;
  margin: 0 .2rem;
}
.navbar ul .active {
  position: relative;
}
.navbar ul .active a {
  color: #ff003d;
  border-bottom: 4px solid #ff003d;
}
.navbar ul .active a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: .32rem;
  background: #f1f1f1;
}
.navbar .moreMenu {
  position: absolute;
  right: 0;
  bottom: .1rem;
  width: .76rem;
  height: .55rem;
  background: #ffffff url(../images/index/arrow.jpg) no-repeat center;
  background-size: .35rem .21rem;
}
.banner a img {
  width: 100%;
  height: auto;
}
.iconMenu {
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}
.iconMenu li {
  padding: .3rem 0 .18rem;
}
.iconMenu li a {
  display: block;
  text-align: center;
}
.iconMenu li a img {
  height: .62rem;
  width: auto;
}
.iconMenu li a p {
  font: 0.28rem/0.68rem "微软雅黑";
  color: #636363;
}
.limit {
  margin-top: .3rem;
  background: #fff;
  display: flex;
}
.limit .limiTime {
  flex-grow: 1;
  /* 放大  两个盒子平分空白空间 */
  padding-left: .17rem;
  position: relative;
  width: 3.4rem;
  border-right: 1px solid #f0f0f0;
}
.limit .limiTime h2 {
  font: 0.3rem/0.39rem "微软雅黑";
  color: #f52468;
  padding-top: .13rem;
  padding-left: .46rem;
  position: relative;
}
.limit .limiTime h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: .15rem;
  background: url(../images/index/timer.jpg) no-repeat center;
  width: .33rem;
  height: .31rem;
  background-size: .33rem .31rem;
}
.limit .limiTime p {
  font: 0.22rem/0.27rem "微软雅黑";
  color: #6d6d6d;
}
.limit .limiTime .time span {
  display: inline-block;
  background: #1f1f27;
  color: #fff;
  text-align: center;
  line-height: .42rem;
  border-radius: .06rem;
  width: .42rem;
  height: .42rem;
}
.limit .limiTime .time span:last-child {
  background: #fee300;
  width: .82rem;
  height: .4rem;
  position: relative;
}
.limit .limiTime .time span:last-child::before {
  content: "";
  position: absolute;
  right: -0.16rem;
  top: .01rem;
  height: .03rem;
  width: 0;
  border-left: .18rem solid #fee300;
  border-top: .18rem solid transparent;
  border-bottom: .18rem solid transparent;
}
.limit .limiTime p:nth-of-type(2) {
  margin-top: .06rem;
}
.limit .limiTime img {
  width: 2.36rem;
  height: 2rem;
  margin: .3rem 0 .2rem .25rem;
}
.limit .limiTime .price {
  position: absolute;
  left: 2.3rem;
  bottom: .4rem;
  width: .84rem;
  height: .84rem;
  background: #ff3179;
  color: #fff;
  text-align: center;
  font-size: .2rem;
  line-height: .84rem;
  border-radius: 50%;
}
.limit .limiTime .price span {
  font: 0.28rem/0.84rem "微软雅黑";
}
.limit .goods {
  flex-grow: 1;
}
.limit .goods .top {
  display: flex;
  border-bottom: 1px solid #eee;
}
.limit .goods .top section {
  flex-grow: 1;
  padding-left: .17rem;
}
.limit .goods .top section h2 {
  position: relative;
  font: 0.3rem/0.39rem "微软雅黑";
  color: #f52468;
  padding-top: .13rem;
}
.limit .goods .top section h2::before {
  content: "折";
  position: absolute;
  left: 1.35rem;
  top: .2rem;
  width: .33rem;
  height: .23rem;
  color: #fff;
  font: 0.2rem/0.23rem "宋体";
  text-align: center;
  background: #f52468;
}
.limit .goods .top section p {
  font: 0.22rem/0.27rem "微软雅黑";
  color: #6d6d6d;
}
.limit .goods .top section img {
  width: 1.28rem;
  height: 1.78rem;
  margin: .05rem 0;
}
.limit .goods .top section:first-child {
  background: url(../images/index/brand.jpg) no-repeat;
  background-position: .2rem 1.05rem;
  background-size: .93rem .32rem;
}
.limit .goods .bottom {
  display: flex;
}
.limit .goods .bottom .btoLeft {
  flex-grow: 1;
  padding-left: .17rem;
  border-right: 1px solid #eee;
}
.limit .goods .bottom .btoLeft h2 {
  font: 0.3rem/0.39rem "微软雅黑";
  color: #f52468;
  padding-top: .13rem;
}
.limit .goods .bottom .btoLeft p {
  font: 0.22rem/0.27rem "微软雅黑";
  color: #6d6d6d;
}
.limit .goods .bottom .btoLeft img {
  width: .64rem;
  height: 1.02rem;
  margin: .12rem 0 0 .45rem;
}
.limit .goods .bottom .btoRight {
  flex-grow: 1;
  padding-left: .17rem;
}
.limit .goods .bottom .btoRight h2 {
  font: 0.3rem/0.39rem "微软雅黑";
  color: #f52468;
  padding-top: .13rem;
}
.limit .goods .bottom .btoRight p {
  font: 0.22rem/0.27rem "微软雅黑";
  color: #6d6d6d;
}
.limit .goods .bottom .btoRight img {
  width: 1.04rem;
  height: .88rem;
  margin: .15rem 0 0 .2rem;
}
.advert {
  margin-top: .3rem;
}
.advert a img {
  width: 100%;
  height: auto;
}
.hot {
  margin-top: .2rem;
  background: #fff;
  /* 标题分类 */
  /* 商品列表 */
}
.hot .title {
  padding: .2rem .2rem 0;
  display: flex;
  justify-content: space-between;
}
.hot .title li {
  flex-grow: 1;
}
.hot .title li a {
  display: block;
  height: .68rem;
  border: 1px solid #e4e4e4;
  border-left: 0;
  font: 0.18rem/0.68rem "微软雅黑";
  color: #0e0e0e;
  text-align: center;
}
.hot .title .active a {
  border: 0;
  height: .7rem;
  background: #f26b11;
  color: #fff;
}
.hot .cont {
  margin: .2rem .25rem  .3rem;
  padding-bottom: .2rem;
}
.hot .cont li {
  background: #fff;
  padding: .3rem 0 0 .3rem;
  box-shadow: 0 0 .1rem #eee;
  margin-bottom: .3rem;
}
.hot .cont li .pic {
  float: left;
}
.hot .cont li .pic img {
  padding-top: .35rem;
  width: 2.16rem;
  height: 2.2rem;
}
.hot .cont li .info {
  float: left;
  padding-left: .45rem;
}
.hot .cont li .info h4 {
  font: 0.3rem/0.57rem "微软雅黑";
  color: #343434;
}
.hot .cont li .info p {
  font: 0.3rem/0.51rem "微软雅黑";
  color: #ed3c44;
}
.hot .cont li .info p span {
  font-size: .25rem;
}
.hot .cont li .info p:nth-of-type(2) {
  font: 0.24rem/0.58rem "微软雅黑";
  color: #959595;
}
.hot .cont li .info a {
  display: block;
  margin-top: .15rem;
  width: 1.64rem;
  height: .52rem;
  background: #ec6917;
  font: 0.24rem/0.52rem "微软雅黑";
  color: #fff;
  text-align: center;
  border-radius: .06rem;
  margin-bottom: .3rem;
}
